.camera-form {
  margin: 20px auto; /* Centrar el formulario horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  width: 80%; /* Ajustar el ancho seg�n sea necesario */
  position: relative;
  top: 25px;
}

.camera-text {
  margin-bottom: 20px;
  text-align: center;
  color: #0056b3;
  font-size: 24px; /* Tama�o de fuente m�s grande para el t�tulo */
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Para m�viles y consistencia */
}

.camera-form label {
  margin-bottom: 8px; /* Espacio aumentado entre etiqueta y campo */
  font-weight: bold;
  font-size: 18px; /* Tama�o de fuente aumentado para etiquetas */
}

.camera-form input[type="text"],
.camera-form input[type="number"],
.camera-form input[type="date"],
.camera-form input[type="file"] {
  width: calc(100% - 20px); /* Ajustar el ancho para tener en cuenta el padding */
  padding: 12px; /* Padding aumentado dentro de los inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Tama�o de fuente aumentado para el texto del input */
}

.file-input-group {
  position: relative;
}

.file-upload-icon {
  position: absolute;
  right: 10px;
  top: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
}

.input-wrapper {
  width: 100%;
}

.camera-form .form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.camera-form .form-actions .delete-button,
.camera-form .form-actions .submit-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Tama�o de fuente aumentado para botones */
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.camera-form .form-actions .delete-button {
  background-color: #dc3545; /* Color de peligro de Bootstrap */
  color: white;
}

.camera-form .form-actions .submit-button {
  background-color: #28a745; /* Color de �xito de Bootstrap */
  color: white;
}

.camera-form .form-actions button:hover {
  opacity: 0.9;
  transform: scale(1.05); /* Escala ligeramente los botones al pasar el cursor */
}

@media (max-width: 768px) {
  .camera-form {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
  }

  .camera-form .form-actions {
    flex-direction: column-reverse; /* Coloca los botones verticalmente en pantallas peque�as */
  }

  .camera-form .form-actions button {
    width: 100%;
    margin-top: 10px;
  }

  .camera-form .form-actions button:first-child {
    margin-top: 0;
  }
}
